In [4]:
import numpy as np
import pandas as pd

In [6]:
df=pd.read_csv("world_population.csv")
df

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [ ]:
#1 Load and display the top 10 rows.

In [8]:
df.head(10)

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
5,42,AGO,Angola,Luanda,Africa,35588987,33428485,28127721,23364185,16394062,11828638,8330047,6029700,1246700,28.5466,1.0315,0.45
6,224,AIA,Anguilla,The Valley,North America,15857,15585,14525,13172,11047,8316,6560,6283,91,174.2527,1.0066,0.00
7,201,ATG,Antigua and Barbuda,Saint John’s,North America,93763,92664,89941,85695,75055,63328,64888,64516,442,212.1335,1.0058,0.00
8,33,ARG,Argentina,Buenos Aires,South America,45510318,45036032,43257065,41100123,37070774,32637657,28024803,23842803,2780400,16.3683,1.0052,0.57
9,140,ARM,Armenia,Yerevan,Asia,2780469,2805608,2878595,2946293,3168523,3556539,3135123,2534377,29743,93.4831,0.9962,0.03

In [14]:
#2. Check for null values and handle them appropriately.
df.isnull().sum()

Rank                           0
CCA3                           0
Country/Territory              0
Capital                        0
Continent                      0
2022 Population                0
2020 Population                0
2015 Population                0
2010 Population                0
2000 Population                0
1990 Population                0
1980 Population                0
1970 Population                0
Area (km²)                     0
Density (per km²)              0
Growth Rate                    0
World Population Percentage    0
dtype: int64

In [26]:
#. What is the population of the top 5 most populous countries
top_5_countries = df.sort_values(by='2022 Population', ascending=False).head(5)

print(top_5_countries[['Country/Territory', '2022 Population']])

    Country/Territory  2022 Population
41              China       1425887337
92              India       1417173173
221     United States        338289857
93          Indonesia        275501339
156          Pakistan        235824862

In [32]:
df.columns

Index(['Rank', 'CCA3', 'Country/Territory', 'Capital', 'Continent',
       '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area (km²)', 'Density (per km²)',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

In [36]:
##. Create a new column showing GDP per capita ( GDP / Population )

# Example: Adding a dummy GDP column for practice (First 5 rows ke liye hi fill kar raha hoon)
dummy_gdp = [17000000000000, 3200000000000, 23000000000000, 1200000000000, 400000000000] + [None]*(len(df)-5)

df['GDP'] = dummy_gdp

# Calculate GDP per Capita (where GDP is not null)
df['GDP per Capita'] = df['GDP'] / df['2022 Population']

print(df[['Country/Territory', 'GDP', '2022 Population', 'GDP per Capita']].head(10))

     Country/Territory           GDP  2022 Population  GDP per Capita
0          Afghanistan  1.700000e+13         41128771    4.133360e+05
1              Albania  3.200000e+12          2842321    1.125840e+06
2              Algeria  2.300000e+13         44903225    5.122127e+05
3       American Samoa  1.200000e+12            44273    2.710456e+07
4              Andorra  4.000000e+11            79824    5.011024e+06
5               Angola           NaN         35588987             NaN
6             Anguilla           NaN            15857             NaN
7  Antigua and Barbuda           NaN            93763             NaN
8            Argentina           NaN         45510318             NaN
9              Armenia           NaN          2780469             NaN

In [44]:
#. Filter out countries with population > 100 million and area < 500,000 sq km.
filtered_countries = df[(df['2022 Population'] > 100000000) & (df['Area (km²)'] < 500000)]
print(filtered_countries)

     Rank CCA3 Country/Territory Capital Continent  2022 Population  \
16      8  BGD        Bangladesh   Dhaka      Asia        171186372
102    11  JPN             Japan   Tokyo      Asia        123951692
163    13  PHL       Philippines  Manila      Asia        115559009

     2020 Population  2015 Population  2010 Population  2000 Population  \
16         167420951        157830000        148391139        129193327
102        125244761        127250933        128105431        126803861
163        112190977        103031365         94636700         77958223

     1990 Population  1980 Population  1970 Population  Area (km²)  \
16         107147651         83929765         67541860      147570
102        123686321        117624196        105416839      377930
163         61558898         48419546         37435586      342353

     Density (per km²)  Growth Rate  World Population Percentage  GDP  \
16           1160.0350       1.0108                         2.15  NaN
102           327.9753       0.9947                         1.55  NaN
163           337.5434       1.0147                         1.45  NaN

     GDP per Capita
16              NaN
102             NaN
163             NaN

In [46]:
print(filtered_countries[['Country/Territory', '2022 Population', 'Area (km²)']])

    Country/Territory  2022 Population  Area (km²)
16         Bangladesh        171186372      147570
102             Japan        123951692      377930
163       Philippines        115559009      342353

In [56]:
#. Sort the countries based on density in descending order
df['density'] = df['2022 Population'] / df['Area (km²)']

sorted_countries=df.sort_values(by='density',ascending=False)
print(sorted_countries)

     Rank CCA3 Country/Territory            Capital      Continent  \
119   167  MAC             Macau  Concelho de Macau           Asia
134   217  MCO            Monaco             Monaco         Europe
187   113  SGP         Singapore          Singapore           Asia
89    104  HKG         Hong Kong          Hong Kong           Asia
76    219  GIB         Gibraltar          Gibraltar         Europe
..    ...  ...               ...                ...            ...
141   145  NAM           Namibia           Windhoek         Africa
135   134  MNG          Mongolia        Ulaanbaatar           Asia
230   172  ESH    Western Sahara           El Aaiún         Africa
64    231  FLK  Falkland Islands            Stanley  South America
78    208  GRL         Greenland               Nuuk  North America

     2022 Population  2020 Population  2015 Population  2010 Population  \
119           695168           676283           615239           557297
134            36469            36922            36760            33178
187          5975689          5909869          5650018          5163590
89           7488865          7500958          7399838          7132438
76             32649            32709            32520            31262
..               ...              ...              ...              ...
141          2567012          2489098          2282704          2099271
135          3398366          3294335          2964749          2702520
230           575986           556048           491824           413296
64              3780             3747             3408             3187
78             56466            56026            55895            56351

     2000 Population  1990 Population  1980 Population  1970 Population  \
119           431896           350227           245332           247284
134            32465            30329            27076            24270
187          4053602          3022209          2400729          2061831
89           6731195          5838574          4978544          3955072
76             27741            27317            28734            26685
..               ...              ...              ...              ...
141          1819141          1369011           975994           754467
135          2450979          2161433          1697780          1293880
230           270375           178529           116775            76371
64              3080             2332             2240             2274
78             56184            55599            50106            45434

     Area (km²)  Density (per km²)  Growth Rate  World Population Percentage  \
119          30         23172.2667       1.0125                         0.01
134           2         18234.5000       0.9941                         0.00
187         710          8416.4634       1.0058                         0.07
89         1104          6783.3922       0.9992                         0.09
76            6          5441.5000       0.9994                         0.00
..          ...                ...          ...                          ...
141      825615             3.1092       1.0146                         0.03
135     1564110             2.1727       1.0151                         0.04
230      266000             2.1654       1.0184                         0.01
64        12173             0.3105       1.0043                         0.00
78      2166086             0.0261       1.0040                         0.00

     GDP  GDP per Capita       density
119  NaN             NaN  23172.266667
134  NaN             NaN  18234.500000
187  NaN             NaN   8416.463380
89   NaN             NaN   6783.392210
76   NaN             NaN   5441.500000
..   ...             ...           ...
141  NaN             NaN      3.109212
135  NaN             NaN      2.172715
230  NaN             NaN      2.165361
64   NaN             NaN      0.310523
78   NaN             NaN      0.026068

[234 rows x 20 columns]

In [58]:
df['density'] = df['2022 Population'] / df['Area (km²)']

sorted_countries = df.sort_values(by='density', ascending=False)

print(sorted_countries[['Country/Territory', '2022 Population', 'Area (km²)', 'density']].head(10))

    Country/Territory  2022 Population  Area (km²)       density
119             Macau           695168          30  23172.266667
134            Monaco            36469           2  18234.500000
187         Singapore          5975689         710   8416.463380
89          Hong Kong          7488865        1104   6783.392210
76          Gibraltar            32649           6   5441.500000
15            Bahrain          1472233         765   1924.487582
123          Maldives           523787         300   1745.956667
125             Malta           533286         316   1687.613924
188      Sint Maarten            44175          34   1299.264706
22            Bermuda            64184          54   1188.592593